<h1>Flatiron Open Jobs</h1>

<table class="pretty">
	<tr>
		<th><%= sortable "title" %></th>
		<th><%= sortable "location" %></th>
		<th><%= sortable "description" %></th>
	</tr>
	<% for job in @jobs %>
		<tr>
			<td><%= job.title %></td>
			<td><%= job.location %></td>
			<td><%= job.description %></td>
			<td><%= link_to "View Posting", job_path(job) %><td>
			<td>Tags: <%= raw job.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %><td>
		</tr>
	<% end %>
</table>
